@use "@/styles/mixins" as mixins;

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay);
  z-index: calc(10 + var(--z-index-navbar));
}

.drawerContent {
  position: fixed;
  inset-inline: 0;
  inset-block-end: 0;
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
  background-color: var(--card);
  z-index: calc(20 + var(--z-index-navbar));
}

.drawerHandle {
  margin-block-start: var(--spacing-md);
}

.drawerHeader {
  display: grid;
  gap: var(--spacing-xxsmall);
  padding: var(--spacing-md);
  text-align: center;
}

.drawerBody {
  flex: 1;
  overflow: auto;
}

.drawerFooter {
  margin-block-start: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
}

.drawerTitle {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.drawerDescription {
  font-size: var(--font-size-sm);
  color: var(--card-foreground);
}

@include mixins.media(lg) {
  .drawerHeader {
    text-align: left;
  }
}
