@use "@/styles/mixins" as mixins;

.headline {
  text-align: center;
}

.tales {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.carouselSlide {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
  padding: 0 0.5rem;

  @media (min-width: 768px) {
    flex: 0 0 50%;
  }

  @media (min-width: 992px) {
    flex: 0 0 33.33%;
  }
}

.talesExploreMoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exploreLink {
  width: 100%;
}

@include mixins.media(sm) {
  .exploreLink {
    width: 150px;
  }
}
