@use "@/styles/mixins" as mixins;

.container,
.compactContainer {
  margin-inline: auto;
  padding-inline: var(--spacing-md);
}

.container {
  width: 100%;
}

.compactContainer {
  max-width: 800px;
}

.withPaddingBlock {
  padding-block: var(--spacing-md);
}

.withContentSpacing {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.lg,
.xl {
  display: flex;
  flex-direction: column;
}

.lg {
  gap: var(--spacing-lg);
}

.xl {
  gap: var(--spacing-sm);
}

@include mixins.media(sm) {
  .container {
    width: 576px;
  }
}

@include mixins.media(md) {
  .container {
    width: 768px;
  }
}

@include mixins.media(lg) {
  .container {
    width: 992px;
  }
}

@include mixins.media(xl) {
  .container {
    width: 1200px;
  }
}

@include mixins.media(2xl) {
  .container {
    width: 1400px;
  }
}
