@use "@/styles/mixins" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.genreSelectWrapper {
  width: 100%;
}

@include mixins.media(md) {
  .container {
    flex-direction: row;
    gap: var(--spacing-sm);
  }

  .genreSelectWrapper {
    width: 250px;
  }
}
