.main {
  padding-top: var(--navbar-height);
}

.headline,
.tagline {
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.actions {
  display: flex;
  gap: var(--spacing-md);
}
