@mixin light() {
  --background: #f5f3ff;
  --foreground: #2d1e4d;

  --gray-foreground: #776a94;
  --heading-foreground: #3e2d5c;

  --primary: #a279e9;
  --primary-foreground: #fdfaff;

  --secondary: #ede7ff;
  --secondary-foreground: #3e2d5c;

  --card: #fffaff;
  --card-foreground: #3e2d5c;
  --card-shadow: 0 4px 8px rgba(120, 90, 200, 0.1);

  --destructive: #d66a91;
  --destructive-foreground: #3e2d5c;

  --star: #f7d255;

  --border: #cbbde7;
}

@mixin dark() {
  --background: #0d0c1d;
  --foreground: #d6d4f0;

  --gray-foreground: #a094c7;
  --heading-foreground: #f1e4ff;

  --primary: #7a4ebf;
  --primary-foreground: #f9f6ff;

  --secondary: #2e2a4d;
  --secondary-foreground: #e6d6ff;

  --card: #1a182b;
  --card-foreground: #f0eaff;
  --card-shadow: 0 4px 12px rgba(200, 180, 255, 0.2);

  --destructive: #d64e75;
  --destructive-foreground: #fef0f6;

  --star: #e0c53a;

  --border: #52486c;
}
