.starRating {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.starRatingStars {
  display: flex;
  align-items: center;
  gap: calc(0.5 * var(--spacing-sm));
}

.starred {
  color: var(--star);
  fill: var(--star);
}

.unstarred {
  color: var(--foreground-muted);
  fill: var(--foreground-muted);
}

.starRatingFixedWidth {
  width: 150px;
}

html[data-theme="dark"] {
  .unstarred {
    color: var(--foreground);
    fill: var(--foreground);
  }
}
