@use "@/styles/mixins" as mixins;

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--spacing-sm);
}

.storyRating {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.coverImageWrapper {
  flex-shrink: 0;
  width: 175px;
  height: 200px;
  border: 1px solid var(--border);
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.actions > * {
  flex-grow: 1;
  min-width: 0;
}

.actionLink {
  width: fit-content;
}

.genre {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--spacing-sm));
}

.uiFont {
  font-family: var(--ui-font);
}

@include mixins.media(md) {
  .story {
    flex-direction: row;
  }

  .content {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
  }

  .genre {
    position: absolute;
    right: var(--spacing-md);
    top: var(--spacing-md);
  }

  .statsWrapper {
    position: absolute;
    right: var(--spacing-md);
    bottom: var(--spacing-md);
  }
}
