@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --background: #0d1015;
  --foreground: #e0e0e3;

  --foreground-muted: #6c6f7a;
  --heading-foreground: #f0e6f6;

  --primary: #5d323d;
  --primary-foreground: #fbeaec;

  --secondary: #2f2a35;
  --secondary-foreground: #e2d3f5;

  --card: #13161c;
  --card-foreground: #e6e6eb;

  --destructive: #7c1a1a;
  --destructive-foreground: #fce5e5;

  --star: #ffc857;

  --border: #24262e;

  --overlay: rgba(0, 0, 0, 0.5);

  --ui-font: "MedievalSharp", cursive;
  --reading-font: "Spectral SC", serif;

  --z-index-navbar: 50;

  --radius-sharp: 0;
  --radius-rounded: 8px;
  --radius-pill: 20rem;
  --radius-circle: 50%;

  --navbar-height: 75px;
  --footer-height: 75px;
  --footer-safearea: 100px;

  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 0.75rem; /* 12px */
  --spacing-lg: 1rem; /* 16px */
  --spacing-xl: 1.5rem; /* 24px */
  --spacing-2xl: 2rem; /* 32px */
  --spacing-3xl: 2.5rem; /* 40px */

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--card);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--ui-font);
  overflow-x: hidden;
}

::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

button {
  font-family: var(--ui-font);
}

a {
  text-decoration: none;
}
