@use "@/styles/mixins" as mixins;

.nameAndEmail {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

@include mixins.media(md) {
  .nameAndEmail {
    flex-direction: row;
  }
}
