.cardContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.cardItem {
  display: flex;
}

.cardItemRow {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > div {
    width: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-shrink: 0;
  }
}

.cardItemCol {
  flex-direction: column;
  gap: var(--spacing-sm);
}

.cardItemSeparator {
  opacity: 0.25;
}
