@use "@/styles/mixins" as mixins;

.nav {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  color: var(--foreground);
  height: var(--navbar-height);
  z-index: var(--z-index-navbar);

  &[data-nav-fixed="true"] {
    position: fixed;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.startContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.title {
}

.endContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.link {
  color: var(--card-foreground);
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease-in-out;
  width: fit-content;

  &:hover {
    color: var(--primary);
  }

  &[data-active="true"] {
    color: var(--primary);
  }
}

.links {
  display: none;
  align-items: center;
  gap: var(--spacing-md);
}

.searchAndThemeContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.authActions {
  display: none;
  gap: var(--spacing-sm);
}

.themeSelectContainer {
  width: 120px;
}

@include mixins.media(lg) {
  .links {
    display: flex;
  }

  .searchAndThemeContainer {
    gap: var(--spacing-sm);
  }

  .authActions {
    display: flex;
  }
}
