.main {
  padding-top: var(--navbar-height);
}

.headline,
.tagline {
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-2xl);

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    text-transform: capitalize;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  p {
    margin-bottom: var(--spacing-md);
    color: var(--gray-foreground);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
