@use "@/styles/mixins" as mixins;

.headline {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.selects {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-sm);
}

.tales {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

@include mixins.media(md) {
  .selects {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
