@use "@/styles/mixins" as mixins;

.noStoryMain {
  height: 80dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding-top: var(--navbar-height);
}

.headline {
  text-align: center;
}

.storyContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);
}

.viewContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-sm);
}

.skeletonHeadline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewToggleSkeleton {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
